body {
    background-color: white;
    margin: 0 0 0 0;
    font-family: "Merriweather", serif;
    font-size: smaller;
    text-align: center;
}

html {
    scroll-behavior: smooth;
  }

h1 {
    color: #333d29;
    margin-top: 70px;
    margin-bottom: 0;
    font-family: "Sacramento", cursive;
    font-size: 5.3rem;
}

h2 {
    color: #627359;
    font-family: "Montserrat", sans-serif;
    line-height: 3;
    font-size: 1.5rem;
    font-weight: bolder;
}

h3 {
    /* color: #656D4A; */
    color: #77896b;
    font-family: "Montserrat", sans-serif;
    font-size: 1.15rem;
}

a {
    color: #656d4a;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    margin: 3%;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #e4f6da;
}

a:active {
    text-decoration: none;
}

hr {
    background-color: transparent;
    border-style: dotted none none none;
    border-color: #132303;
    border-width: 6px;
    height: 0px;
    width: 30px;
    margin: 75px auto;
}

.my-navbar {
    text-align: right;
    background-color: #94ac86;
    height: 5%;
    padding-top: 5px;
    line-height: 0;
    padding-right: 6%;
}

.navbar-img {
    height: 33px;
}

.navbar-img-link {
    margin: 0;
}

.nav-link-on {
    color: #b6d0a7;
}

.nav-link-on:hover {
    color: #abc49c;
}

.top-container {
    text-align: center;
    background-color: #94ac86;
    border-style: solid;
    border-width: 0;
    position: relative;
    padding-top: 6%;
}

.heading-name {
    position: relative;
    font-weight: 600;
    bottom: 14px;
    transition: ease 0.8s;
}

.heading-subtext {
    position: relative;
    color: #333d29;
    margin-top: 5px;
    font-size: 1.1rem;
    transition: ease 0.8s;
}

.flower-1 {
    position: relative;
    width: 10%;
    top: 1.7px;
    margin: 0 2%;
    transition: transform 0.5s;
}

/* .flower-1:hover{
    transform: scale(1.15);
} */

.flower-2 {
    position: relative;
    width: 5.5%;
    top: 5.1px;
    margin: 0 2%;
    transition: transform 0.5s;
}

/* .flower-2:hover {
    transform: scale(1.15);
} */

.flower-3 {
    position: relative;
    width: 11%;
    top: 2.7px;
    margin: 0 2%;
    transition: transform 0.5s;
}

/* .flower-3:hover {
    transform: scale(1.15);
} */

.flower-4 {
    position: relative;
    width: 7.5%;
    top: 0px;
    margin: 0 2%;
    transition: transform 0.5s;
}

/* .flower-4:hover {
    transform: scale(1.15);
} */

.flower-5 {
    position: relative;
    width: 5.8%;
    top: 6.7px;
    margin: 0 2%;
    transition: transform 0.5s;
}

/* .flower-5:hover {
    transform: scale(1.15);
} */

.cloud-1 {
    position: absolute;
    height: 50px;
    left: 10px;
    top: 230px;
    transition: ease transform 0.5s, ease margin 0.9s;
}

/* .cloud-1:hover {
    transform: scale(1.2);
} */

.cloud-2 {
    position: absolute;
    height: 50px;
    top: 110px;
    right: 10px;
    transition: ease transform 0.5s, ease margin 0.9s;
}

/* .cloud-2:hover {
    transform: scale(1.2);
} */

.pfp {
    padding-top: 10px;
    padding-bottom: 25px;
    width: 180px;
    transition: ease transform 0.5s;
}

.middle-container {
    text-align: center;
    position: relative;
    margin-top: 100px;
    line-height: 2;
}

.profile {
    width: 50%;
    margin: auto;
}

.skills {
    text-align: center;
}

.skill-row {
    position: relative;
    margin: 60px auto 120px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}

.skill-image-1 {
    float: left;
    /* position: relative; */
    width: 180px;
    margin-right: 40px;
    margin-bottom: 8px;
    /* margin-left: -10px; */
    /* margin: -70px 0 -20px -10px; */
    transition: ease transform 0.5s;
}

.skill-image-2 {
    float: right;
    /* position: relative; */
    width: 180px;
    margin-left: 40px;
    margin-bottom: 8px;
    /* margin: -70px 0 -20px -10px; */
    transition: ease transform 0.5s;
}

.skill-row-heading {
    line-height: 2;
}

.project-link {
    color: #94ac86;
    font-family: "Merriweather", serif;
    font-weight: 900;
    text-decoration: none;
    margin: 0;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.project-link:link {
    text-decoration: none;
}

.project-link:visited {
    text-decoration: none;
}

.project-link:hover {
    text-decoration: none;
    color: #607056;
}

.project-link:active {
    text-decoration: none;
}

.contact-me {
    padding-top: 100px;
    text-align: center;
}


.back-to-top {
    display: block;
    margin: -20px auto 0 auto;
    color: #94ac86;
}

.back-to-top:hover {
    color: #94ac86;
}

.back-to-top-img {
    display: block;
    margin: 0 auto;
    transition: ease padding-top 0.3s;
}

.back-to-top-img:hover {
    padding-top: 5px;
}

.btn {
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #94ac86;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    top: 35px;

    transition: background-color 0.2s;
}

.btn:hover {
    background: #7a8e6f;
    text-decoration: none;
    color: white;
}

.bottom-container {
    text-align: center;
    background-color: #94ac86;
    height: 150px;
    margin-top: 100px;
}

.footer-link {
    position: relative;
    top: 40px;
}

.copyright {
    position: relative;
    padding-top: 30px;
    top: 50px;
    color: white;
    font-size: 0.7rem;
}

/* PROJECTS PAGE */

.project-container {
    padding: 70px;
    margin: 0;
}

.project {
    text-align: center;
    line-height: 2;
    padding: 3%;
}

.github-note {
    color: #94ac86;
    text-align: center;
    font-size: smaller;
    position: relative;
}

.proj-img {
    width: 75%;
}

/* MEDIA QUERY */
@media (min-width: 992px) {
    .cloud-1 {
        margin-left: 190px;
        margin-top: -30px;
    }

    .cloud-2 {
        margin-right: 200px;
        margin-top: -40px;
    }

    .heading-name {
        font-size: 6rem;
    }

    .heading-subtext {
        font-size: 1.3rem;
    }

    .pfp {
        transform: scale(1.18);
    }

    .skill-image-1 {
        transform: scale(1.1);
    }

    .skill-image-2 {
        transform: scale(1.1);
    }
}

@media (max-width: 767px) {
    .cloud-1 {
        transform: scale(0.8);
        margin-left: -70px;
        margin-top: 20px;
    }

    .cloud-2 {
        transform: scale(0.8);
        margin-right: -90px;
        margin-top: 20px;
    }

    .heading-name {
        font-size: 4.3rem;
    }

    .heading-subtext {
        font-size: 0.9rem;
    }

    .pfp {
        transform: scale(0.9);
    }

    .skill-image-1 {
        transform: scale(0.9);
    }

    .skill-image-2 {
        float: none;
        margin: auto;
        transform: scale(0.9);
    }

    /* .web-dev {
        padding-top: 165px;
    } */
}
